{% extends "base.jinja2" %}

{% block content %}

<h1>Liste des formations</h1>

<div class="program-lists">
  {% for program in colors.keys() %}
    <a href="./{{program | slugify}}.html">
      <div class="program-item">
         {{program}}
      </div>
    </a>
  {% endfor %}
</div>
<div>
  <a href="./all.html"><strong>Voir tous les cours disponibles</strong></a>
</div>

<style>

  .program-item {
    background-color: #ecf0f1;
    padding: 10px 20px;
    margin: 20px;
    transition: .2s ease all;
  }

  .program-item:hover {
    background-color: #bdc3c7;
    cursor: pointer;
  }


</style>

{% endblock %}
